/*It SHOULD ALWAYS BE IN DECENDING ORDER*/

/*Big Tables and Laptop Screens*/
@media only screen and (max-width: 1200px){
    html,
    body{
        font-size: 14px;
    }
    .about-para{
         
        margin: 20px;
    }
   
    .testimonial-heading,
    .package-heading,
    .services-heading,
    .section-heading{
        
        margin-top: 90px;
    }
    .big-icon{
       
        margin-bottom: 15px;
    }
}

/*Big Tables and Samll Tablets*/
@media only screen and (max-width: 1023px){
    html,
    body{
        font-size: 12px;
    }
    .row{
        padding: 0 1px;
    }
    .about-heading{
        margin-bottom:  25px;
    }
    .about_box{
        margin-top: 60px;
    }
    .about_box :first-child{
        
        padding:0 ;
        padding-right: 5%;
     }
     .laptop-image{
         padding-right: 5%;
     }
     .package-box {
        width:100%;
        
    }
    .package-heading {
        margin-bottom:25px;
        
    }
    footer {
       
        padding:30px;
        
    }
    footer p{
        
        margin-top: 20px;
        line-height: 1.3;
    }
}

/*Small Tables or Larger Mobile Phones*/
@media only screen and (max-width: 767px){
    html,
    body{
        font-size: 10px;
    }
    .about-heading{
        margin-bottom:  20px;
    }
    .testimonial-heading,
    .package-heading,
    .services-heading,
    .section-heading{
        
        margin-top: 60px;
    }
    .section-heading{
        
        margin-bottom: 10px;
    }
    .section-subheading:after {
        margin: 15px auto 0 auto;
     }
     .testimonial-heading{
        margin-bottom: 10px;
    }
    .header-box{
        position: absolute;
       top: 50%;
       left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #ffffff;
    }
    .header-text-box{
        margin-bottom: 50px;
    } 
}

/*Small Phones*/
@media only screen and (max-width: 480px){
    .laptop-image{
        padding:0;
        margin: 0 auto;
    }
    
    .about_box :last-child{
        text-align: centre;
    }
    .about_box :first-child{
        text-align: center;
        
     }
     .span_1_of_4{
         width: 45%;
         margin-bottom: 20px;
     }
     .span_1_of_3{
         padding:0 10%;
         margin-bottom: 5px;
     }
     .contact-form{
        width: 100%;
     }
}